<aside class="sidebar">
    <div class="sidebar__logo"><a href=""><img src="../image/logo.svg" alt=""></a></div>
    <div class="sidebar__icon"><a href=""><img src="../image/Search.svg" alt=""></a></div>
    <div class="sidebar__icon sidebar-icon--active"><a href=""><img src="../image/user-silhouette-2.svg" alt=""></a></div>
    <div class="sidebar__icon"><a href=""><img src="../image/messages.svg" alt=""></a></div>
    <div class="sidebar__icon"><a href=""><img src="../image/Group-1.svg" alt=""></a></div>
</aside>