<div class= "window">
    <form class= "window__form signIn">
        <h1 class= "signIn__title">Complete your account</h1>
        <input class="signIn__input signIn__password" type="password" placeholder="Create a password">
        <div class="check__result">
            <div class="result"></div>
            <div class="result"></div>
            <div class="result"></div>
        </div>
        <input class="signIn__input" type="password" placeholder="Confirm a password">
        <div class="signIn__checkboxes checkboxes__first">
            <label class="checkboxes">I agree to the myFixer.com <a href="">Terms of Service</a>
                <input class="signIn__check" type="checkbox" id="terms" name="terms">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="signIn__checkboxes checkboxes__second">
        <label class="checkboxes">I agree to the myFixer.com <a href="">Privacy Policy</a>
            <input class="signIn__check" type="checkbox" id="privacy" name="privacy">
            <span class="checkmark"></span>
        </label>
        </div>
            <div class="g-recaptcha" data-sitekey="6LcHl60UAAAAAB9yhIcEmPSltoB9u2Fdjm63oi_F"></div>
            <br/>
        <input class="signIn__button" type="submit" value="Done!">
    </form>
</div>