<div class="allcircle">
    <div class="allcircle__first">
        <div class="allcircle__second">
            <div class="allcircle__third">  
                <div class="allcircle__fourth">
                </div>
            </div>
        </div>
    </div>
    <div class="allcircle__content">
        <img class="allcircle__image" src="../image/Group.svg" alt="">
        <h3 class="allcircle__title">You are almost ready to go!</h3>
        <span class="allcircle__text">Please check your email to reset your password</span>
    </div>
</div>