<div class= "window">
    <form class= "window__form signIn">
        <h1 class= "signIn__title">Sign up</h1>
        <div class="name">
            <input class="signIn__input signIn__name" type="text" placeholder="First name">
            <input class="signIn__input signIn__name" type="text" placeholder="Last name">
        </div>
        <input class="signIn__input" type="text" placeholder="E-mail">
        <input class="signIn__input" type="password" placeholder="Password">
        <input class="signIn__button" type="submit" value="Get started">
    </form>
</div>