<div class= "window">
    <form class= "window__form form" action="/completeaccount.html">
        <h1 class= "form__title">Sign up</h1>
        <div class="name">
            <input class="form__input form__name" type="text" placeholder="First name">
            <input class="form__input form__name" type="text" placeholder="Last name">
        </div>
        <input class="form__input" type="text" placeholder="E-mail">
        <input class="form__input" type="password" placeholder="Password">
        <input class="form__button" type="submit" value="Get started">
    </form>
</div>